body {
}

#square{
    width: 60px;
    padding: 10px;
    float: left;
}

#logo{
    width: 40px;
}

#utm-name{
    font-weight: 200;
    padding: 15px 3px 15px 25px;
    font-family: sans-serif;
}

#fox-name{
    font-weight: 600;
    color: orange;
    font-family: sans-serif;
}

.navbar {
    height: 60px;
}

.navbar-brand {
    font-size: 24px;
    line-height: 30px;
    height: 60px;
}

.navbar-default {
    border-color: #dbdbdb;
}

.navbar-header {
    height: inherit;
}

.container {
    height: inherit;
}

#nav-items {
    display: table-row;
    height: 60px;
}

#select-elements{
    display: table-cell;
    vertical-align: middle;
}

.bar{
    display: table-cell;
    vertical-align: middle;
    font-size: 30px;
    font-weight: 100;
    color: #cfcfcf;
}

select {
    background: transparent;
}
select#SelectData {
    margin: 0;
    width: 150px;
    padding: 5px 5px 5px 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    height: 34px;
    color: grey;
    background-color: white;
}

select#SelectData:focus {
    outline: none;
}

select#SelectFormat {
    height: 25px;
}

#cancelButton {
    background-color: lightgrey;
}

#deleteButton {
    background-color: red;
    color: white;
}

#delete{
    cursor: hand;
    padding-left: 5px;
}
#newButton{
    cursor: hand;
    margin-left: 20px;
    border-color: #FB8C00;
    background-color: white;
    color: #FB8C00;
    padding: 5px 8px;
}
#newButton:hover{
    border-color: #EE4E04;
    color: #EE4E04;
}

/*.btn{*/
    /*padding: 2px 8px;*/
/*}*/

.btn:focus{
    outline: none;
}

.row-num {
    margin-top: 5px;
}

.clearfix {
    clear: both;
}

.hidden {
    display: none;
}

.input-field {
    width: 95%;
}

.control-group {
    float: left;
    width: 220px;
}

#user-info {
    clear: both;
    margin: 0 auto;
    max-width: 400px;
    width: 300px;
    padding: 5px;
    text-align: right;
}

#user-signed-in {
    float: right;
    height: 100%;
    margin-right: 10px;
}

#user-signed-out{
    float: right;
}

#sign-out,#delete-account {
    margin-top: 5px;
    height: 20px;
    font-size: 12px;
}

.firebaseui-idp-list{
    margin: .5em 0;
}

#sign-in {
    margin-bottom: 0;
}

#photo-container {
    background-color: #EEE;
    border: 1px solid #CCC;
    float: left;
    height: 40px;
    margin-right: 10px;
    width: 40px;
}

#photo {
    height: 40px;
    margin: 0;
    width: 40px;
}

@media (max-width: 300px) {
    #photo-container,
    #photo {
        height: 40px;
        width: 40px;
    }
}
#download {
    margin-right: 10px;
    padding: 3px 8px;
}

#save {
    margin-top: 20px;
    background-color: transparent;
    border-color: deepskyblue;
    position: relative;
    margin-left: 10px;
    padding: 3px 8px;
}

#save:hover {
    color: white;
    background-color: deepskyblue;
}

#save:disabled {
    color: white;
    border-color: darkgrey;
    background-color: darkgrey!important;
}
#save:disabled:hover::after {
    content: 'dude / dudettes, log in to save stuff!';
    color: black;
    background-color: white;
    padding: 2px;
    border: 1px solid grey;
    border-radius: 2px;
    position: absolute;
    top: 15%;
    left: 110%;
}

#modal_dialog{
    display: none;
}

body:after{
    content: "beta";
    position: fixed;
    width: 80px;
    height: 25px;
    background: #EE8E4A;
    top: 7px;
    left: -20px;
    text-align: center;
    font-size: 13px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    line-height: 27px;
    -ms-transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg);
}

.container-fluid{
    display: none;
}

.btn-add {
    border-color: #449D44;
    border-radius: 5px;
    padding: 2px 8px;
}

.btn-remove {
    border-color: #CD403C;
    border-radius: 5px;
    margin-left: 5px;
    padding: 2px 8px;
    /*fix margin and borders overridden by bootstrap*/
}

/*.btn-add:hover, .btn-remove:hover{*/
    /*border-color: white;*/
/*}*/

/*.btn-add:focus, .btn-remove:focus{*/
    /*outline: none;*/
/*}*/
/*.btn-add:active, .btn-remove:active{*/
    /*outline: none;*/
/*}*/

.copiedLine {
    /*-webkit-animation: glow 1s alternate;*/
    box-shadow: 0 0 10px green;
}

/*@-webkit-keyframes glow {*/
    /*to {*/
        /*box-shadow: 0 0 10px green;*/
    /*}*/
/*}*/
